@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.main{
    font-family: "Lato", sans-serif;  
    font-style: normal;
    color: white;
    width: 50vh;
    height: 70vh;
    background-image: linear-gradient(60deg,#65ec99,#2dd5e1);
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 9%;
}

.input{
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    border-radius: 10px;
}
#input{
    outline: none;
    display: block;
    background-color: #ffffffd2;
    border: none;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;

}

.input button{
    background-color: transparent;
    border: none;
    transition: 0.01s;
    cursor: pointer;
    scale: 1.4;
}

.input button:active{
    transition: 0.01s;
    color: #464646;
}


.container{
    display: flex;
    gap: 100px;
    margin-bottom: 25px;
}
.humidity{
    display: flex;
    flex-direction: column;
}
.windSpeed{
    display: flex;
    flex-direction: column;
}

.alignment{
    display: flex;
    justify-content: center;
    place-self: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.temp{
    font-size: 70px;
}
.city{
    font-size: 40px;
}
.description{
    font-size: 15px;
}
